@charset "UTF-8";
* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

#container {
  width: 90%;
  height: auto;
  margin: 0px auto;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px #ccc;
  margin-top: 40px;
  margin-bottom: 40px;
  min-height: 570px;
}

header {
  display: flex;
  flex-direction: row;
  /*Para colocarlo como una fila las dos cajas*/
  flex-wrap: wrap;
  /*Para que no salgan los elementos del header*/
  align-items: center;
  /*Alinear todos los elementos al centro en una fila*/
  height: 120px;
  border-bottom: 1px solid #ccc;
}
header .logo {
  flex-grow: 1;
  /*Para adaptarlo a la pantalla*/
  flex-basis: 49%;
  /*Darle un tamaño a la caja que contiene el logo para que haya una separación*/
  margin-left: 20px;
  text-shadow: 1px 1px 0px #ccc;
}
header .logo h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  /*Poner el logo en cursivas*/
  font-size: 35px;
  padding: 10px;
}
header #menu {
  flex-grow: 1;
  flex-basis: 46%;
  height: 100%;
  padding-right: 20px;
}
header #menu ul {
  display: flex;
  /*Para poner los elementos en fila*/
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  list-style: none;
}
header #menu ul a {
  color: #444;
  padding: 10px;
  transition: all 300ms;
}
header #menu ul a:hover {
  background: #ccc;
  color: white;
}

#content {
  display: flex;
  /*Colocar el aside a la izquierda y los proyectos a la derecha*/
  justify-content: space-between;
  /*Espacio entre las dos cajas (coloca cada caja en las dos esquinas)*/
  padding-top: 20px;
  padding-bottom: 20px;
}
#content #projects {
  display: flex;
  /*Colocar todos los proyectos en forma de linea horizontal*/
  flex-flow: row wrap;
  /*Colocar todos los proyectos dentro de la caja y no se salgan*/
  justify-content: space-between;
  /*Separa todo los proyectos, sin tener que colocar un margin a cada uno*/
  flex-basis: 80%;
}
#content #projects .project {
  flex-grow: 1;
  flex-basis: 250px;
  margin-bottom: 25px;
  margin-right: 20px;
  border: 1px solid #ccc;
}
#content #projects .project:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px gray;
  transform: scale(1.005, 1.005);
  border-color: blue;
}
#content #projects .project img {
  width: 100%;
}
#content #projects .project-info {
  padding: 10px;
}
#content #projects .project-info a {
  font-size: 16px;
  color: black;
  transition: all 300ms;
}
#content #projects .project-info a:hover {
  color: green;
}
#content #projects .project-info p {
  color: gray;
}

aside {
  /*order: 2; /*Poner el aside hacia la derecha*/
  flex-basis: 15%;
  margin-right: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
aside h2 {
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: 100;
  color: #444;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
aside ul {
  list-style: none;
}
aside li {
  padding-bottom: 20px;
}
aside a {
  display: block;
  text-align: center;
  padding: 20px;
  background-color: #eee;
  color: #444;
  transition: all 300ms;
  text-transform: uppercase;
  /*Poner el texto en mayuscula*/
}
aside a:hover {
  background-color: #444;
  color: #eee;
}

footer {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: flex-start;
  height: 120px;
  align-items: center;
  border-top: 1px solid #ccc;
}
footer .logo {
  order: 2;
  /*Pasar el logo a la derecha*/
  flex-grow: 1;
  /*Para adaptarlo a la pantalla*/
  flex-basis: 50%;
  /*Darle un tamaño a la caja que contiene el logo para que haya una separación*/
  margin-left: 20px;
  text-shadow: 1px 1px 0px #ccc;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  /*Poner el logo en cursivas*/
  font-size: 35px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: right;
  margin-right: 20px;
  opacity: 0.5;
  flex-basis: auto;
  flex-grow: 1;
}
footer .info {
  flex-grow: 1;
  color: #444;
  margin-left: 20px;
}

@media (max-width: 893px) {
  header {
    margin-top: 20px;
    text-align: center;
  }
  header #menu ul {
    margin-top: 20px;
    align-items: flex-start;
    justify-content: space-evenly;
    /*Para que el tamaño de los menús se reduzca*/
  }
}
@media (max-width: 781px) {
  h1 {
    margin-right: 25px;
  }

  #content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  aside {
    margin: 0px;
  }
  aside ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  aside li {
    flex-grow: 1;
    /*Se vea completo el background del menu*/
    margin-left: 5px;
    margin-right: 5px;
  }

  .project {
    margin-right: 20px;
    margin-left: 20px;
  }

  footer .logo {
    order: 1;
    text-align: center;
    flex-basis: 100%;
    flex-grow: 1;
  }
  footer .info {
    order: 2;
    text-align: center;
    flex-basis: 100%;
    flex-grow: 1;
    margin: 0px 25px;
  }
}
@media (max-width: 424px) {
  header {
    margin-bottom: 40px;
    border-bottom: 0px;
  }
}

/*# sourceMappingURL=styles.css.map */
