body{
    --rojo: red; /*Variables en CSS*/
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: gray;
}

#layout{
    display: flex; /*inline-flex para posicionarlo en medio, flex para que ocupe el ancho de la pantalla 100%*/
    
    /*flex-direction: row; /*Puede ser row=fila, column=columna, row-reverse (o column)=primer elemento a la derecha a izquierda */
    /*flex-wrap: wrap; /*Para que las cajas no salgan de la pantalla y se ordenen hacia abajo*/

    flex-flow: row wrap; /*Unir flex-direction y flex-wrap en una sola linea de codigo*/
    justify-content: space-around; /*Alinear las cajas, con flex-end o right manda todos los elementos la derecha o center. space-around para separar cajas */

    border: 3px solid black;
    padding: 5px;
}

.caja{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    margin: 10px;
    background-color: gray;
}

.red{
    background-color: var(--rojo); /*Toma el valor de una variable*/
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.orange{
    background-color: orange;
}

