*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p::selection{
    background-color: red;
    color: white;
}

.contenedor{
    width: 87%;
    max-width: 1100px;
    margin: 0px auto;
    background-color: #27292d;
    overflow: hidden;
}

.contenedor header{
    margin-top: 58px;
    background: linear-gradient(to right, black, blue, black);
}

.contenedor header #logo{
    padding-top: 15px;
    width: 22%;
    height: 22%;
    display: block;
    margin: 0px auto;
}

.contenedor header #icono-cerrar{
    display: none;
}

header #nombre_logo{
    justify-content: center;
    display: flex;
    margin: 0px auto;
    text-shadow: 2px 2px 2px rgb(138, 138, 138);
}

header #nombre_logo:hover{
    transition: all 0.5s;
    text-shadow: 2px 2px 2px rgb(255, 255, 255)
    
}

.clearfix{
    float: none;
    clear: both;
}

header #nombre_logo a{
    color: black;
}

.main, .widget, .menu, footer{
    color: white
}

a{
    text-decoration: none;
    color: white;
}

.menu{
    margin-top: 20px;
}

.menu li img{
    margin: -2.5px;
    display:inline-block;
    height: 16px;
    float:none;
    padding: 0px 5px;
}

.menu ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333333;
}

.menu li{
    flex-grow: 1;
    text-align: center;
}

.menu li:hover{
    background-color: red;
}

.menu li a{
    display: block;
    padding: 14px 5px;
    border-right: 1px solid gray;
    font-size: 75%;
}

/*SUBMENU*/

.menu .submenu{
    position: absolute;
    display: none;
}

.menu .submenu li a{
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.menu .submenu a{
    text-align: left;
    width: 100%;
}

.menu li:hover .submenu{
    display: block;
    width: auto;
}

.menu .submenu li:hover a{
    background: #333333;
    color: red;
    transition: color 0.2s;
}

/*FIN DEL SUBMENU*/

/*FIN DEL ENCABEZADO*/

/*INICIO DEL MAIN*/

.main .btn-inicio{
    display: block;
    background-color: rgb(0, 17, 255);
    text-align: center;
    width: 90px;
    height: 23px;
    margin: 0px auto;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 3px;
}

.main .btn-inicio:hover{
    background-color: rgb(250, 0, 0);
    transition: all 0.7s;
}

.main h2{
    font-size: 33px;
    text-align: center;
    margin-top: 13px;
}

.main .perfil ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 25px;
}

.main .perfil ul li{
    margin-left: 15px;
    color: #cccccc;
    font-size: 13px;
}

.main .perfil ul a:hover{
    color: red;
    transition: all 0.3s;
}

.main .perfil ul li img{
    display: block;
    width: 37px;
    border-radius: 50%;
    margin-top: -9px;   
}

.main .articulos{
    overflow: hidden;
    float: left;
    margin-top: 50px;
    border: 1px solid #36373a;
    background-color: #1f2024;
    width: 65%;
    margin-left: 30px;
    padding: 20px;
    line-height: 25px;
    box-sizing: border-box;
}

.main .articulos img{
    display: block;
    margin: 0px auto;
    width: 60%;
    padding: 20px;
}

/*FIN DEL MAIN*/

/*INICIO DEL ASIDE*/

.widget .categorias{
    border: 1px solid #36373a;
    background-color: #1f2024;
    width: 28%;
    float: right;
    margin-top: 25px;
    margin-right: 2%;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 15px;
    line-height: 25px;
}

.widget ul{
    list-style: none;
}

.widget .redes-sociales ul{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.widget .redes-sociales ul a{
    padding: 5px 10px;
}

.redes-sociales ul #facebook{
    margin-right: 15px;
    border-radius: 3px;
    padding-top: 6px;
    background-color: rgb(0, 17, 255);
}

.redes-sociales ul #twitter{
    margin-right: 15px;
    border-radius: 3px;
    padding-top: 6px;
    background-color: rgb(0, 132, 255);
}

.redes-sociales ul #youtube{
    margin-right: 15px;
    border-radius: 3px;
    padding-top: 6px;
    background-color: rgb(255, 0, 0);
}

.redes-sociales ul #instagram{
    margin-right: 15px;
    border-radius: 3px;
    padding-top: 6px;
    background-color: #c13584;
}

.categorias li a:hover{
    color: red;
}

.categorias ul li:first-child{
    margin-top: 15px;
}

.categorias ul li img{
    float: left;
    display: block;
    width: 25px;
    margin-right: 1px;
}

.categorias h2 img{
    float: left;
    display: block;
    width: 25px;
    margin-right: 5px;
}

/*FIN DEL ASIDE*/

footer{
    float: left;
    clear: both;
    display: block;
    width: 98%;
    margin-left: 1%;
    background-color: #181818;
    margin-top: 40px;
    margin-bottom: 10px;
    border: 1px solid blue;
}

footer img{
    display: block;
    margin: 0px auto;
    width: 9%;
    margin-top: 15px;
}

footer p{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 30px;
}

footer a{
    color: red;
}

footer a:hover{
    color: blue;
    transition: 0.3s;
}

/*MEDIA QUERY*/

@media screen and (max-width: 400px){

    .menu li{
        font-size: 13px;
    }

    header .menu #icono-cerrar{
        display: block;
        margin-left: 25px;
        background-color: rgb(3, 3, 3);
    }

    header .menu #icono-cerrar img{
        width: 40px;
        height: 40px;
        right: 5px;
    }
        header label img{
        margin-left: 20px;
    }

    .contenedor header label{
        width: 100%;
    }

    .contenedor header .menu ul{
        width: 100%;
    }

    .contenedor header .menu ul li{
        padding: 4px 0px;
    }

    .contenedor header .menu ul li:first-child{
        padding-top: 30px;
    }

    .contenedor header #logo{
        padding-top: 20px;
        width: 30%;
    }

    h1{
        margin: 0px auto;
        font-size: 30px;
    }

    .main .btn-inicio{
        width: 0px auto;
    }

    .main .perfil ul li img{
        width: 30px;
    }

    .main .perfil ul{
        padding-right: 18px;
        margin-bottom: 15px;
    }

    .main .perfil ul li{
        font-size: 11px;
        
    }

    .main h2{
        font-size: 23px;
    }

    p{
        font-size: 13px;
    }

    .main .articulos{
        margin: 0px auto;
        width: auto;
    }

    .main .articulos img{
        width: 80%;
        margin: 0px auto;
    }


    footer{
        padding-right: 2%;
        margin: 0px auto;
        border: none;
    }

    footer p{
        font-size: 13px;
    }

    footer > img{
        width: 60px;
    }

    .contenedor{
        width: 100%;
    }

}


@media screen and (max-width: 800px){

    .main .articulos{
        display: block;
        margin: 15px 5%;
        justify-content: center;
        width: 90%;
    }

    .widget{
        display: none;
    }
}

@media screen and (max-width: 900px){

    .contenedor header #icono-cerrar{
        display: block;
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 40px;
        top: -13px;
    }

    .menu li{
        font-size: 13px;
    }

    .menu li:hover{
        background-color: black;
    }

    .menu li:hover .submenu{
        display: block;
    }

    .menu li:hover a{
        color: white;
    }

    .menu .submenu li:hover a{
        background-color: black;
    }

    .contenedor header .menu ul li a{
        border: none;
    }

    .contenedor .menu{
        background-color: black;
        display: none;
    }

    .contenedor .menu .submenu{
        background-color: black;
        position: relative;
        display: none;
        margin-left: 30px;
        width: 90%;
    }

    .contenedor .menu .submenu a:first-child{
        margin: 0px auto;
        
    }

    .contenedor header {
        padding-bottom: 15px;
    }

    .contenedor .main h2{
        font-size: 27px;
    }

    /*MENU DESPLEGABLE con tamaño max-width: 900px*/

    header label img{
        position: absolute;
        z-index: 1; /*Para mostrar el icono de menu al abrir el menu desplegable*/
        width: 45px;
        height: 45px;
        margin-top: 15px;
    }

    header label{
        width: 45px;
        height: 45px;
    }

    header label{
        position: absolute;
        width: 88%;
        height: 64px;
        top: -5px;
        background-color: rgb(0, 0, 0)
    }

    header label:hover{
        cursor: pointer;
    }

    #btn-menu{
        display: none;
    }

    .contenedor header .menu{
        display: block;
        position: absolute;
        width: 97%;
        padding-right: 3%;
        margin-left: -140%;
    }

    .contenedor header .menu .submenu li{
        border-bottom: 1px solid rgb(26, 26, 26);
    }

    .contenedor header .menu .submenu li:first-child{
        padding: 0px;
    }

    .contenedor header .menu ul{
        background-color: rgb(0, 0, 0);
        flex-direction: column;
    }

    .contenedor header .menu ul li{
        padding-top: 10px;
    }

    .contenedor header .menu ul li a{
        text-align: left;
        padding-left: 50px;
    }

    .contenedor header .menu ul li:first-child{
        padding-top: 40px;
    }

    #btn-menu:checked ~ .menu{
        transition: 0.3s;
        margin: 0px;
        top: 18px;
    }

    #btn-menu:checked ~ .menu #icono-cerrar{
        display: block;
    }

}

@media screen and (min-width: 900px){

    .contenedor header{
        margin: 0px;
    }

    header label img{
        display: none;
    }

    #btn-menu{
        display: none;
    }
}

@media screen and (max-width:964px){

    .redes-sociales img{
        height: 21px;
    }

}
