body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.layout{
    width: 1200px;
    height: 300px;
    margin: 0px auto;

    display: grid; /*Definir el grid layout*/
    grid-gap: 10px; /*Espacio entre elementos grid*/
    /*grid-template-columns: 50% 20% 20% 7.5%; /*Cantidad de columnas separados con %*/
    grid-template-columns: repeat(4, 1fr); /*Para que los porcentajes no sean repetitivos (columnas, espacio en %)*/
    /*grid-template-columns: 1fr 1fr 1fr; o repeat(3, 1fr) /*Otra forma de organizar con fracciones (se establece tres columnas)*/
    grid-template-rows: 2fr 1fr 1fr; /*Cantidad de filas separados con fracciones (fr)*/

    border: 3px solid orangered;
    padding: 10px;

    .caja{
        font-size: 20px;
        font-weight: bold;
        color: white;
        padding: 20px;
        border: 4px solid #222;
        background-color: gray;
    }

    .red{
        background-color: red;
    }

    .blue{
        background-color: blue;
    }

    .green{
        background-color: green;
    }

    .orange{
        background-color: orange;
    }
}