*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #fd7a00;
    font-family: Arial, Helvetica, sans-serif;
}

/*Para cambiar el color de fondo al seleccionar el texto*/
p::selection{
    background-color: red;
    color: white;
}

.contenedor{
    width: 80%;
    max-width: 1000px; /*Limite de la anchura del contenedor*/
    margin: 0px auto;
    overflow: hidden; /*Solo que la información este dentro del contendor y no se pase*/
}

header {
    background-color: white;
    margin: 20px 0; /*El 0 es para que la informacion este dentro del contenedor y no salga*/
}

header img{
    display: block;
    margin: 0px auto;
    width: 30%;
    height: auto; /*Para que no se desproporcione la imagen*/
}

header h1{
    color: rgb(7, 7, 7);
    padding: 20px 0;
    text-align: center;
}

.main{
    width: 70%;
    padding: 20px;
    float: left;
    background-color: teal;
    box-sizing: border-box; /*Permite respetar el padding sin que se modifique el texto*/
}

aside{
    width: 30%;
    padding: 20px;
    float: left;
    background-color: gray;
    box-sizing: border-box; /*Ajustar la barra lateral a la derecha*/
}

footer{
    width: 100%;
    padding: 20px;
    float: left;
    clear: both;
    background-color: black;
    color: white;
    margin-top: 20px;
    box-sizing: border-box;
}

@media screen and (max-width: 800px){
    /*Ajustar el aside hacia abajo del .main cuando se reduce el tamaño */

    .main{
        width: 100%;
    }

    aside{
        width: 100%;
    }
}

@media screen and (max-width: 400px){
    /*Eliminar los bordes de ambos lados del contenedor cuando sea una pantalla pequeña*/

    .contenedor{
        width: 100%;
    }

    aside{
        display: none; /*Para desaparecer la barra lateral en pantallas pequeñas*/
    }
}

/*MENU*/

header label img{
    width: 30px; /*Tamaño de la imagen png del icono*/
    height: 30px;
}

#btn-menu {
    display: none; /*Desaparecer el cuadro de checkbox*/
}

header label{
    display: none;
    width: 30px; /*Tamaño de la caja del icono*/
    height: 30px;
    padding: 10px;
    border-right: 1px solid black;
}

header label:hover{
    cursor: pointer;
    background-color: lavender;
}

.menu ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex; /*Para que los li sean cajas flexibles y los coloque en una fila*/
    justify-content: center; /*Para centrar el menu*/
}

.menu li{
    flex-grow: 1; /*Define la proporcion de crecimiento cada elemento*/
    text-align: center;
}

.menu li:hover{
    background-color: red;
}

.menu li a {
    display: block;
    padding: 15px 20px; /*15 px hacia arriba y abajo, 20px a los laterales*/
    color: black;
    text-decoration: none;
    font-weight: bolder;
    border: 1px solid rgb(223, 221, 221);
}

@media screen and (max-width: 666px){

    header label{
        display: block; /*Aparezca el icono de menu*/
    }

    .menu{
        position: absolute; /*Para que el menú aparezca encima del sitio*/
        background-color: rgb(230, 230, 230);
        width: 50%;
        margin-left: -80%; /*Para el menú desaparezca*/
    }

    .menu ul { 
        flex-direction: column; /*Poner el menú(lista) en una columna*/
    }

    /*alt 126 (~) selector, cuando el menú tenga el checked va a buscar la clase menu*/
    #btn-menu:checked ~ .menu {
        margin: 0px; /*Para que al darle clic al icono aparezca el menú*/
    }
}